body, html {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	background-color: white;
	font-family:  Roboto;
	display: block;
	/*overflow-x: hidden;*/
	/*overflow-y: scroll;*/
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none; color: #F4FAFF;
}

ul{
	margin-top: 5px;
}

img{
	max-height: 100%;
}

.navbar-container{
	position:fixed;
	top: 0;	
	box-shadow : 0 2px 2px rgba(0, 0, 0, 0.2);
	font-size: 14px;
	height:64px;
	left:0;
	transition: top .75s .25s ease;
	width: 100%;
	z-index: 99;
}

.navbar-dark{
    /*transition: all 0.5s ease;*/
	color: #F4FAFF;
	background-color : #8ED2DB;
}

.navbar-light{
    transition: all 0.5s ease;
	color: #8ED2DB;
	background-color : #F4FAFF;
}


.nav_home-link{
	height: 24px;
	left:0;
	padding: 22px 24px 18px;
	top:0;
	float:left;
	display: inline-block;
}

#navbar-name-text{
	text-decoration: None;
	font-size:22px;
}

#navbar-menu{
	right : 0;
	float: right;
	position: relative;
	transition: right ls ease;
	padding: 0px 15px;
	display:inline-block;
}

.button:hover{
	font-weight: 600;
	cursor: pointer;
	text-decoration: underline;
}

.navbar-menu-item{
	float:left;
	display: block;
	font-weight: 500;
	height: 16px;
	line-height: 16px;
	text-decoration: none;
	padding: 24px 5px;
	transition: color 0.3s ease;
	font-size:18px;
}

.section{
	width: 100%;
	height: 850px;
	position:relative;
}

#main-section{
	background-color:#8ED2DB;
}

#name-text{
	font-size: 100px;
	color: #F4FAFF;
	margin:auto;
	position: absolute;
	top:50%;
	left: 4%;
}

.sub-section{
	display:flex;
	/*padding-top: 64px;*/
	/*height:100%;*/
}

.left-section{
	float: left;
	width: 14%;
	/*background-color: green;*/
	padding: 18% 9% 18% 5%;
}

.middle-section{
	float:left;
	width: 1%;
	height:100%;
	/*background-color: black;*/
}

.middle-bar{
	/*background-color: white;*/
	width: 3px;
	height:100%;
	position: relative;
	margin: auto;
}

#light-bar{
	background-color:#F4FAFF;
}

#dark-bar{
	background-color: rgba(81, 74, 70, 0.6);
}

.right-section{
	float:right;
	width:50%;
	padding: 16% 6% 15% 2%;
	/*background-color: gray;
*/}

.text-container{
	width: 100%;
	height:100%;
	position:relative;
	/*top, right bottom left*/
	/*background-color: blue;*/
}

#about-section, #projects-section{
	background-color: #F4FAFF;
	color: rgba(81, 74, 70, 0.6);
}

#about-photo img{
	max-height: 100%;
    margin-top: 0%;
    margin-left: -28%;
}

#contact-section{
	background-color:#8ED2DB;
	color: #F4FAFF;
}

.photo-container{
	width: 240px;
	height:240px;
	top: 0%;
	position:relative;
	/*top, right bottom left*/
	/*background-color: blue;*/
	margin: auto;
	border-radius: 1000px;
	background-color: rgba(81, 74, 70, 0.6);
	overflow: hidden;
}

#project-photo{
	/*border-radius: 0px;*/
}

.title-text{
	font-size: 37px;
	font-weight: bold;
}

.paragraph-text{
	font-size:18px;
	margin-top: 10px;
}

#about-section{
	height: 500px;
}

.project-container{
	margin-bottom: 5% 
	margin-top: 2%;
}

.project-title{
	font-size: 22px;
}

.project-description{
	font-size: 16px;
}

.project-container:hover{
	font-style: italic;
	cursor: pointer;
}

#contact-photo{
	background-color: #F4FAFF;
}

#contact-title{
	font-size: 60px;
    margin-top: 10%;
}

.contact-email{
	font-size: 22px;
}


}


